{% extends "base.html" %}
{% block title %}{{summoner_name}} - Set 9.5 Stats - TFT Stats{% endblock %}
{% block content %}
<p>{{summoner_name}}<p>
<p>{{summoner_rank}}</p>
<p>Level: {{summoner_level}}</p>
<h2>Match History</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Placement</th>
        <th scope="col">1st</th>
        <th scope="col">2nd</th>
        <th scope="col">3rd</th>
        <th scope="col">4th</th>
        <th scope="col">5th</th>
        <th scope="col">6th</th>
        <th scope="col">7th</th>
        <th scope="col">8th</th>
      </tr>
    </thead>
    <tbody>
    {% for match in summoner_match_history %}
        <tr>
            <th scope="row">{{match.summoner_placement}}</th>
            {% for name in match.participant_names %}
                <td>{{name}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}