{% extends "base.html" %}
{% block title %}{{summoner_name}} - Set 9.5 Stats - TFT Stats{% endblock %}
{% block content %}
<p>{{summoner_name}}<p>
<p>{{summoner_rank}}</p>
<p>Level: {{summoner_level}}</p>
{% for match in summoner_match_history %}
    <p>{{match.summoner_placement}}</p>
    <p>{{match.participant_names}}</p>
{% endfor %}
<table class="table-borderless">
    <thead>
      <tr>
        <th scope="col">Placement</th>
        <th scope="col">1st</th>
        <th scope="col">2nd</th>
        <th scope="col">3rd</th>
        <th scope="col">4th</th>
        <th scope="col">5th</th>
        <th scope="col">6th</th>
        <th scope="col">7th</th>
        <th scope="col">8th</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Summoner 1</td>
        <td>Summoner 2</td>
        <td>Summoner 3</td>
        <td>Summoner 4</td>
        <td>Summoner 5</td>
        <td>Summoner 6</td>
        <td>Summoner 7</td>
        <td>Summoner 8</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Summoner 1</td>
        <td>Summoner 2</td>
        <td>Summoner 3</td>
        <td>Summoner 4</td>
        <td>Summoner 5</td>
        <td>Summoner 6</td>
        <td>Summoner 7</td>
        <td>Summoner 8</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Summoner 1</td>
        <td>Summoner 2</td>
        <td>Summoner 3</td>
        <td>Summoner 4</td>
        <td>Summoner 5</td>
        <td>Summoner 6</td>
        <td>Summoner 7</td>
        <td>Summoner 8</td>
      </tr>
    </tbody>
</table>
{% endblock %}